timm
scikit-learn
matplotlib
tensorboard
numpy<2
pandas
scipy
seaborn
tqdm
segyio
numba
scikit-image
ipywidgets
jupyter_rfb
h5py
plotly
pillow
opencv-python-headless==4.5.5.64
vispy
PyQt5
glfw
PyOpenGL
einops
ruff
cryptography
optuna
deepwave
hydra-core
omegaconf
nptdms
watchdog
websockets
fastapi
scikit-fmm
monai
obspy
openpyxl
pyproj
seisbench==0.8.1
geopandas
HinetPy
adjustText
pyyaml
playwright
optuna
git+https://github.com/AI4EPS/GaMMA.git@zenodo
seisai-pick   @ git+https://github.com/ozw4/seisai.git@chore/monorepo-workspace_noisedataset#subdirectory=packages/seisai-pick
