# Devcontainer python deps (trimmed to what this repo actually imports / uses)

numpy<2
pandas
scipy
matplotlib

tqdm
numba
nptdms

obspy
openpyxl
pyproj

seisbench==0.8.1
geopandas
HinetPy
adjustText
pyyaml
pillow

optuna
ruff
zarr
numcodecs
shapely
python-dateutil
git+https://github.com/AI4EPS/GaMMA.git@zenodo

